* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 200px;
  padding: 10px;
  background-color: black;

  img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid white;
    margin-left: 20px;
  }
}

.div-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

#section-img {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

#twister1,
#twister2,
#biz1,
#biz2,
#bandit {
  width: 500px;
  height: 300px;
  position: absolute;
  border-radius: 30px;
  transition: 3s ease-in-out;
  opacity: 0;
}

#twister1,
#twister2,
#biz1,
#biz2,
#bandit {
  transform: scale(1.1);
  transition: 500ms linear;
}

#section-img img.primeira {
  opacity: 1;
}
